.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  background-image: radial-gradient(#dcdcdc 1px, #ffffff 1px);
  background-size: 40px 40px;
}

.register-container {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 550px;
  padding: 50px 40px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.register-container:hover {
  transform: translateY(-1px);
  box-shadow: 0 15px 40px rgba(66, 14, 74, 0.463);
}
.register-p{
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 20px;
}
.register-input {
  width: calc(100% - 30px);
  padding: 15px 15px;
  margin: 15px auto;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  font-size: 1.2rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  text-indent: 15px;
  display: block;
}

.register-input:focus {
  outline: none;
  border-color: #acacac;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(201, 138, 231, 0.5);
}

.register-button {
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2rem;
  color: hsl(293, 53%, 27%);
  padding-top: 20px;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.register-link {
  margin-top: 20px;
  display: inline-block;
  color: hsl(300, 2%, 32%);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative; 
  transition: color 0.3s ease;
}

.register-link:hover {
  color: hsl(293, 53%, 27%); }

.register-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px; 
  background: linear-gradient(90deg, hsl(293, 53%, 27%), hsl(293, 53%, 27%));
  transition: width 0.3s ease;
}

.register-link:hover::after {
  width: 100%;
}

.register-link:active::after {
  background: linear-gradient(90deg, #7e57c2, #9575cd); 
}
